<a href="https://colab.research.google.com/github/barcellfe/datascience_study/blob/master/Captura_IPCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IPCA15 - Aula de 26 de Agosto de 2020

In [ ]:
# install chromium, its driver, and selenium
!apt update
!apt install chromium-chromedriver
!pip install selenium
# set options to be headless, ..
from bs4 import BeautifulSoup
from selenium import webdriver
import time
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
# open it, go to a website, and get results
wd = webdriver.Chrome('chromedriver',options=options)
wd.get("https://www.website.com")
print(wd.page_source)  # results

In [2]:
nav = webdriver.Chrome('chromedriver',options=options)
strUrl = "https://sidra.ibge.gov.br/home/ipca15/brasil"
nav.get(strUrl)
pagina = BeautifulSoup(nav.page_source, 'html.parser')
tabela = pagina.find('div' , attrs={'id': 'ipca15-q1' })

In [ ]:
def tableDataText(table):       
    rows = []
    trs = table.find_all('tr')
    headerow = [td.get_text(strip=True) for td in trs[2].find_all('th')] # header row
    if headerow: # if there is a header row include first
        rows.append(headerow)
        trs = trs[2:]
    for tr in trs: # for every table row
        rows.append([td.get_text(strip=True) for td in tr.find_all(['th','td'])]) # data row
    return rows

In [ ]:
list_table = tableDataText(tabela)

In [ ]:
import pandas as pd
dftable = pd.DataFrame(list_table)
headers = dftable.iloc[0]
#dftable = dftable.rename(columns=dftable.iloc[0])
dftable  = pd.DataFrame(dftable.values[2:12], columns=headers)
dftable

0 Índice geral e grupos de produtos e serviços  ... Peso mensal (%)
0                                 Índice geral  ...        100,0000
1                        Alimentação e bebidas  ...         20,0478
2                                    Habitação  ...         15,6260
3                        Artigos de residência  ...          3,7065
4                                    Vestuário  ...          4,4430
5                                  Transportes  ...         19,6069
6                    Saúde e cuidados pessoais  ...         13,5509
7                            Despesas pessoais  ...         10,7817
8                                     Educação  ...          6,4693
9                                  Comunicação  ...          5,7679

[10 rows x 4 columns]

https://sidra.ibge.gov.br/home/ipca15

# 2a Tentativa

In [ ]:
# install chromium, its driver, and selenium
!apt update
!apt install chromium-chromedriver
!pip install selenium
# set options to be headless, ..
from bs4 import BeautifulSoup
from selenium import webdriver
import time
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
# open it, go to a website, and get results
wd = webdriver.Chrome('chromedriver',options=options)
wd.get("https://www.website.com")
print(wd.page_source)  # results

In [ ]:
nav = webdriver.Chrome('chromedriver',options=options)
strUrl = "https://sidra.ibge.gov.br/home/ipca/brasil"
nav.get(strUrl)
pagina = BeautifulSoup(nav.page_source, 'html.parser')
tabela = pagina.find('div' , attrs={'id': 'ipca-q1' })

In [ ]:
def tableDataText(table):       
    rows = []
    trs = table.find_all('tr')
    headerow = [td.get_text(strip=True) for td in trs[2].find_all('th')] # header row
    if headerow: # if there is a header row include first
        rows.append(headerow)
        trs = trs[2:]
    for tr in trs: # for every table row
        rows.append([td.get_text(strip=True) for td in tr.find_all(['th','td'])]) # data row
    return rows

In [ ]:
list_table = tableDataText(tabela)

In [ ]:
import pandas as pd
dftable = pd.DataFrame(list_table)
headers = dftable.iloc[0]
#dftable = dftable.rename(columns=dftable.iloc[0])
dftable  = pd.DataFrame(dftable.values[2:12], columns=headers)
dftable

0 Índice geral e grupos de produtos e serviços  ... Peso mensal (%)
0                                 Índice geral  ...        100,0000
1                        Alimentação e bebidas  ...         20,1194
2                                    Habitação  ...         15,5709
3                        Artigos de residência  ...          3,7222
4                                    Vestuário  ...          4,4849
5                                  Transportes  ...         19,5577
6                    Saúde e cuidados pessoais  ...         13,6048
7                            Despesas pessoais  ...         10,7453
8                                     Educação  ...          6,4198
9                                  Comunicação  ...          5,7748

[10 rows x 4 columns]

**Fim da 2a Tentativa**

# 1a Tentativa

In [ ]:
# install chromium, its driver, and selenium
!apt update
!apt install chromium-chromedriver
!pip install selenium
# set options to be headless, ..
from bs4 import BeautifulSoup
from selenium import webdriver
import time
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
# open it, go to a website, and get results
wd = webdriver.Chrome('chromedriver',options=options)
wd.get("https://www.website.com")
print(wd.page_source)  # results

In [ ]:
class Captura:
    '''
    PASSO 1: Abrir o navegador
    O objeto webdriver é o responsável pela manipulação do navegador
    '''
    nav = webdriver.Chrome('chromedriver',options=options)

    '''
    um método auxiliar apenas aguardar 'x' segundos e ir nos dando no terminal o status da operação
    '''
    def aguarde(self, tempo, texto):
        print("[i] " + texto + "...Aguardando...")
        time.sleep(tempo)
        self.nav.maximize_window()

    '''
    o método principal da nossa classe de captura
    '''
    def inicio(self):
        '''
        PASSO 2: Abrir o site alvo
        Aqui setamos o endereço e mandamos o navegador para o site
        '''
        print("------------------------------------------------------")
        self.aguarde(2, "Navegando até a página...")
        strUrl = "https://sidra.ibge.gov.br/home/ipca/brasil"
        self.nav.get(strUrl)


        '''
        PASSO 3: Localizar na página a tabela
        Aqui usaremos o beautifulSoup para analisar o código fonte da página
        '''
        # pagina: variavel que guarda todo o código html da página alvo
        print("------------------------------------------------------")
        self.aguarde(2, "Capturando o código da página...")
        pagina = BeautifulSoup(self.nav.page_source, 'html.parser')

        # vamos então localizar nosso div alvo e gravar tudo que está dentro dessa tag numa variavel
        tabela = pagina.find('div' , attrs={'id': 'ipca-q1' })


        # Aqui instaciamos um objeto do tipo parser
        parser = parserTabelaIPCA()
        saida = parser.analisaTabela(tabela)
        print("------------------------------------------------------")
        self.aguarde(2, "Tratando os dados...")
        print("------------------------------------------------------")
        print( saida )
        print("------------------------------------------------------")


        # fechando o navegador
        self.nav.close()
        self.nav.quit()


class parserTabelaIPCA:
    '''
    Este é o 'coração' do sistema, onde nós analisamos a tabela alvo e
    pegamos o que nos interessa: os dados dentro de cada <td>
    '''
    def analisaTabela(self, tabela):
        nColunas = 0
        nLinhas = 0
        column_names = []


        #contar o numero de linhas e colunas
        for row in tabela.find_all("tr"):
            td_tags = row.find_all("td")
            if len(td_tags) > 0:
                nLinhas+=1
                if nColunas == 0:
                    nColunas = len(td_tags)

            #captura o titulo das colunas - se tiver thead/th
            th_tags = row.find_all("th", attrs={"tabela-titulo"})
            if len(th_tags) > 0 and len(column_names) == 0:
                for th in th_tags:
                    column_names.append(th.get_text())

        # contar numero de nomes na lista e comparar com o n. de colunas
        if len(column_names) > 0 and len(column_names) != nColunas:
            raise Exception("[e] Quantidade de colunas difere da quantidade de titulos de colunas capturados!")

        #separando para o dataFrame os titulos das colunas
        columns = column_names if len(column_names) > 0 else range(0,nColunas)

        #criando um arquivo CSV para saida do processamento
        fname = 'C:\\TEMP\\base.csv'
        txt_column = ""

        #gravar titulos das colunas no arquivo texto
        txt_column = (";").join(column_names)
        with open(fname, "a", encoding="utf-8") as f:
            f.write(txt_column+"\n")

        #criando o dataframe com o pandas para armazenar os dados
        df = pd.DataFrame(columns = columns, index= range(0,nLinhas))
        row_marker = 0

        #percorre as celulas para extrair o texto e gravar no arquivo
        for row in tabela.find_all('tr'):
            column_marker = 0
            columns = row.find_all('td')
            txt_cell = ""
            for column in columns:
                df.iat[row_marker,column_marker] = column.get_text()
                column_marker += 1
                txt_cell = txt_cell + column.get_text() + "; "
            if len(columns) > 0:
                row_marker += 1
            if(txt_cell != ""):
                #salvando a saida no arquivo criado
                with open(fname, "a", encoding="utf-8") as f:
                    f.write(str(txt_cell) +"\n")

        return df


# Nosso programa para rodar esse código é bastante simples
print("------------------------------- -> Spider IPCA v.1 <-")
tela = Captura()
tela.inicio()
print("[i] Finalizado!")
print("------------------------------------------------------")

In [ ]:
nav = webdriver.Chrome('chromedriver',options=options)
strUrl = "https://sidra.ibge.gov.br/home/ipca/brasil"
nav.get(strUrl)
pagina = BeautifulSoup(nav.page_source, 'html.parser')
tabela = pagina.find('div' , attrs={'id': 'ipca-q1' })
parser = parserTabelaIPCA()

In [ ]:
nColunas = 0
nLinhas = 0
column_names = []

In [ ]:
for row in tabela.find_all("tr"):
            td_tags = row.find_all("td")
            if len(td_tags) > 0:
                nLinhas+=1
                if nColunas == 0:
                    nColunas = len(td_tags)

In [ ]:
nColunas