<a href="https://colab.research.google.com/github/barcellfe/datascience_study/blob/master/Resumo_da_tabela_5_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício aula de 03 - 11 - 2020 Pandas II

In [1]:
import pandas as pd
import numpy as np

**Tabela 5 .4** - Opções de indexação com DataFrame 
Tipos:  
df[val] / df.loc[val] / df.loc[: , val] / df.loc[vall, val2]  / df.i.loc[where] / df.i.loc[:, where] / df.i.loc[where_i., where_j] / df . at[label_i., label_j]/ df. i.at [ i., j] / método rei.ndex / métodos get_value, set_va-lue

In [ ]:
# Tabela 5 .4 - Opções de indexação com DataFrame 
# Tipos:  df[val] / df.loc[val] / df.loc[: , val] / df.loc[vall, val2]  / df.i.loc[where] / df.i.loc[:, where] / df.i.loc[where_i., where_j] 
#         df . at[label_i., label_j]/ df. i.at [ i., j] / método rei.ndex / métodos get_value, set_va-lue

In [2]:
# Iniciando Data Frame para uso nos exercícios
dado = pd.DataFrame(np.arange(16).reshape(4,4), index=['SP', 'RJ', 'MG', 'PR'],
                    columns=['Um', 'Dois', 'Tres', 'Quatro'])
dado

    Um  Dois  Tres  Quatro
SP   0     1     2       3
RJ   4     5     6       7
MG   8     9    10      11
PR  12    13    14      15

**Utilizando df [val]** -

In [3]:
# Seleciona uma única coluna ou uma sequência de colunas do DataFrame; 

dado['Tres']

SP     2
RJ     6
MG    10
PR    14
Name: Tres, dtype: int64

**Utilizando df.loc [val]** -

In [9]:
# Seleciona uma única linha ou um subconjunto de linhas do DataFrame pelo rótulo

dado.loc['PR']

Um        12
Dois      13
Tres      14
Quatro    15
Name: PR, dtype: int64

**Utilizando df.loc[:, val]** -

In [11]:
# Seleciona uma única coluna ou um subconjunto de colunas pelo rótulo

dado.loc[:, 'Dois']

SP     1
RJ     5
MG     9
PR    13
Name: Dois, dtype: int64

**Utilizando df.loc [val1, val2]** -

In [12]:
# Seleciona tanto linhas quanto colunas pelo rótulo

dado.loc['MG', 'Tres']

10

**Utilizando df.iloc [where]** -

In [18]:
# Seleciona uma única linha ou um subconjunto de linhas do DataFrame pela posição com um inteiro

dado.iloc[1]

Um        4
Dois      5
Tres      6
Quatro    7
Name: RJ, dtype: int64

**Utilizando df.iloc [:, where]** -

In [19]:
# Seleciona uma única coluna ou um subconjunto de colunas pela posição com um inteiro

dado.iloc[:, 2]

SP     2
RJ     6
MG    10
PR    14
Name: Tres, dtype: int64

**Utilizando df.iloc [where_i, where_j]** -

In [21]:
# Seleciona tanto linhas quanto colunas pela posição com um inteiro

dado.iloc[1, 2]

6

**Utilizando df.at [label_i, label_j]** -

In [22]:
# Seleciona um único valor escalar pelo rótulo da linha e da coluna

dado.at['RJ', 'Quatro']

7

**Utilizando df.iat [i, j]** -

In [24]:
# Seleciona um único valor escalar pela posição (inteiros) da linha e da coluna

dado.iat[1, 3]

7

**Utilizando método Reindex** -

In [33]:
# Seleciona linhas ou colunas pelo rótulo
novo_index = ['SP', 'ES', 'MG', 'PR']
dado.reindex(novo_index)

      Um  Dois  Tres  Quatro
SP   0.0   1.0   2.0     3.0
ES   NaN   NaN   NaN     NaN
MG   8.0   9.0  10.0    11.0
PR  12.0  13.0  14.0    15.0

**Utilizando get_value & set_value** -

In [41]:
# utilizando o mesmo DF anterior:
dado

    Um  Dois  Tres  Quatro
SP   0     1     2       3
RJ   4     5     6       7
MG   8     9    10      11
PR  12    13    14      15

In [42]:
dado1 = dado.get('Um')
print(dado1)

SP     0
RJ     4
MG     8
PR    12
Name: Um, dtype: int64

In [44]:
dado2 = dado.set_axis(['I', 'II', 'III', 'IV'], axis='columns')
dado2

     I  II  III  IV
SP   0   1    2   3
RJ   4   5    6   7
MG   8   9   10  11
PR  12  13   14  15